---
import Base from "@/layouts/base.astro";

import { UpdateIcon } from "@radix-ui/react-icons";

import { Blog } from "@/components/blog";
import { getBlogPosts } from "@/lib/blogPosts";
import { markdownToHtml } from "@/lib/markdown";

interface Props {
  title: string;
  tags: string[];
  pubDate: string;
  updDate: string;
  body: string;
}

export async function getStaticPaths() {
  const blogs = await getBlogPosts();
  return blogs.map((blog) => {
    return {
      params: {
        slug: blog.slug,
      },
      props: {
        title: blog.title,
        tags: blog.tags,
        pubDate: blog.pubDate,
        updDate: blog.updDate,
        body: blog.body,
      },
    };
  });
}

const { title, tags, pubDate, updDate, body } = Astro.props;
const content = markdownToHtml(body);
---

<Base pageTitle={title}>
    <div class="mx-auto text-center">
        <div class="flex items-center justify-center text-lg text-muted-foreground">
            {pubDate}
            {updDate && <UpdateIcon className="ml-2 mr-0.5 h-3" />}
            {updDate}
        </div>
        <h1 class="scroll-m-20 text-2xl font-extrabold lg:text-4xl">
            {title}
        </h1>
        {
            tags.map((tag, index) => (
                <a href={`https://yashikota.com/blog/tags/${tag.toLocaleLowerCase()}/`}>
                <span
                    data-key={index}
                    class="mr-2 text-sky-400 hover:text-sky-700 text-lg"
                >
                    #{tag}
                </span>
                </a>
            ))
        }
    </div>

    <div class="flex-1 border-b border-gray-500 mb-5"></div>

    <Blog html={content} client:load />
</Base>
