---
import Base from "@/layouts/base.astro";

import { UpdateIcon } from "@radix-ui/react-icons";
import { GitHubLogoIcon, Link2Icon } from "@radix-ui/react-icons";

import { Blog } from "@/components/blog";
import { markdownToHtmlWithToc } from "@/lib/markdown";
import { getAllWorks, getWorkContent } from "@/lib/works";

interface Props {
  title: string;
  description: string;
  tags: string[];
  date: string;
  image: string;
  github: string[];
  url: string[];
  path: string;
}

export async function getStaticPaths() {
  const works = await getAllWorks();
  return works.map((work) => {
    return {
      params: {
        slug: work.path,
      },
      props: {
        title: work.title,
        description: work.description,
        tags: work.tags,
        date: work.date,
        image: work.image,
        github: work.github,
        url: work.url,
        path: work.path,
      },
    };
  });
}

const { title, description, tags, date, image, github, url, path } = Astro.props;
const workContent = await getWorkContent(path);
const mdContent = workContent ? workContent.body : description;
const { html: content } = await markdownToHtmlWithToc(mdContent);
---

<Base pageTitle={title}>
  <div class="mx-auto">
    <div class="text-center mb-6">
      <div class="flex items-center justify-center text-lg text-muted-foreground">
        {date}
      </div>
      <h1 class="scroll-m-20 text-2xl font-extrabold lg:text-4xl">
        {title}
      </h1>
      <div class="flex flex-col items-center justify-center mt-2">
        {github.map((githubUrl) => (
          <a
            href={githubUrl}
            target="_blank"
            rel="noreferrer noopener"
            class="flex items-center mx-2 my-1"
          >
            <GitHubLogoIcon width="24" height="24" />
            <span class="ml-2 text-sky-400 hover:text-sky-600">{githubUrl}</span>
          </a>
        ))}
        {url.map((urlLink) => (
          <a
            href={`${urlLink}/?source=works`}
            target="_blank"
            rel="noreferrer noopener"
            class="flex items-center hover:text-gray-400 mx-2 my-1"
          >
            <Link2Icon width="24" height="24" />
            <span class="ml-2 text-sky-400 hover:text-sky-600">{urlLink}</span>
          </a>
        ))}
      </div>
      <div class="flex items-center justify-center flex-wrap mt-2">
        {tags.map((tag) => (
          <span class="mx-1 text-sky-400 hover:text-sky-700 text-lg">
            #{tag}
          </span>
        ))}
      </div>
    </div>

    <div class="flex-1 border-b border-gray-500 mb-5"></div>

    <div class="w-full max-w-3xl mx-auto mb-8">
      <img
        src={image}
        alt={title}
        class="max-h-[50vh] w-auto object-contain mx-auto mb-8"
      />

      <div class="w-full max-w-3xl mx-auto">
        <Blog html={content} client:load />
      </div>
    </div>
  </div>
</Base>
