---
import Base from "../layouts/Base.astro";

import { getAllPosts } from "../lib/AllPosts";
const posts = await getAllPosts();
---

<Base pageTitle="Blog" />

<h1>Blog</h1>

<div>
    {
        posts
        .filter(post => !post.isUnlisted)
        .map((post) => (
            <li>
                <a
                    href={post.slug ? `/blog/${post.slug}` : post.url}
                    target={post.slug ? "" : "_blank"}
                    rel={post.slug ? "" : "noopener"}
                >
                    {post.title}, {post.pubDate}, ({post.updDate}), {post.tags}, {post.icon}
                </a>
            </li>
        ))
    }
</div>
