---
import Base from "@/layouts/base.astro";

import { CardComponent } from "@/components/shadcn/card";

import { getAllPosts } from "@/lib/allPosts";
const posts = await getAllPosts();
---

<Base pageTitle="Blog">

<div class="">
    {
        posts
        .filter(post => !post.isUnlisted)
        .map((post) => (
            <div class="lg:w-1/2 mx-auto">
                <CardComponent
                    title={post.title}
                    slug={post.slug}
                    url={post.url}
                    pubDate={post.pubDate}
                    updDate={post.updDate}
                    tags={post.tags}
                    icon={post.icon} />
            </div>
        ))
    }
</div>

</Base>
