---
import Base from "../layouts/base.astro";

import { CardComponent } from "@/components/shadcn/card";

import { getAllPosts } from "../lib/allPosts";
const posts = await getAllPosts();
---

<Base pageTitle="Blog">

<h1>Blog</h1>

<div>
    {
        posts
        .filter(post => !post.isUnlisted)
        .map((post) => (
            <a
                href={post.slug ? `/blog/${post.slug}` : post.url}
                target={post.slug ? "" : "_blank"}
                rel={post.slug ? "" : "noopener"} >
                <CardComponent
                    title={post.title}
                    pubDate={post.pubDate}
                    updDate={post.updDate}
                    tags={post.tags}
                    icon={post.icon} />
            </a>
        ))
    }
</div>

</Base>
