---
import Base from "@/layouts/base.astro";
import { GalleryComponent } from "@/components/shadcn/gallery";
import { getGalleries } from "@/lib/gallery";

const galleries = await getGalleries();
---

<Base pageTitle="Gallery">
    <div>
        {
            galleries.map((gallery) => (
                <GalleryComponent
                    thumbnail={gallery.image}
                    title={gallery.title}
                    date={gallery.date}
                    tags={gallery.tags}
                    instagram={gallery.instagram}
                    details={gallery.details}
                    client:load
                />
            ))
        }
    </div>
</Base>
