---
import Base from "@/layouts/base.astro";

import { BlogCardComponent } from "@/components/shadcn/card";

import { getAllPosts } from "@/lib/allPosts";

import { HomeIcon } from "@radix-ui/react-icons";

export async function getStaticPaths() {
  const allPosts = await getAllPosts();
  const uniqueTags = [
    ...new Set(
      allPosts.flatMap((post) => post.tags.map((tag) => tag.toLowerCase())),
    ),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.tags.some((postTag) => postTag.toLowerCase() === tag),
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

const getBackLink = () => {
  const referrer = Astro.request.headers.get("referer");
  if (!referrer) return "https://yashikota.com/blog#tech";

  const url = new URL(referrer);
  if (url.hash === "#life") {
    return "https://yashikota.com/blog#life";
  }
  return "https://yashikota.com/blog#tech";
};
---

<Base pageTitle={tag}>
    <h1 class="text-3xl font-bold text-center text-sky-400">#{tag}</h1>

    <div>
        {
            posts
                .filter((post) => !post.isUnlisted)
                .map((post) => (
                    <div class="xl:w-4/5 mx-auto">
                        <BlogCardComponent
                            title={post.title}
                            slug={post.slug}
                            url={post.url}
                            pubDate={post.pubDate}
                            updDate={post.updDate}
                            tags={post.tags}
                            icon={post.icon}
                        />
                    </div>
                ))
        }
    </div>

    <div class="flex justify-center">
        <h2>
            <a
                href={getBackLink()}
                class="text-3xl font-bold text-green-500 flex items-center"
            >
                <HomeIcon className="w-6 h-6 mr-2 mt-1" />
                Back to Blog
            </a>
        </h2>
    </div>
</Base>
