---
import Base from "@/layouts/base.astro";

import { BlogComponent } from "@/components/shadcn/card";

import { getAllPosts } from "@/lib/allPosts";

export async function getStaticPaths() {
    const allPosts = await getAllPosts();
    const uniqueTags = [
        ...new Set(
            allPosts
                .map((post) => post.tags.map((tag) => tag.toLowerCase()))
                .flat(),
        ),
    ];

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) =>
            post.tags.some((postTag) => postTag.toLowerCase() === tag),
        );
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Base pageTitle={tag}>
    <h1 class="text-3xl font-bold text-center text-sky-400">#{tag}</h1>

    <div>
        {
            posts
                .filter((post) => !post.isUnlisted)
                .map((post) => (
                    <div class="xl:w-4/5 mx-auto">
                        <BlogComponent
                            title={post.title}
                            slug={post.slug}
                            url={post.url}
                            pubDate={post.pubDate}
                            updDate={post.updDate}
                            tags={post.tags}
                            icon={post.icon}
                        />
                    </div>
                ))
        }
    </div>
</Base>
