---
import Base from "@/layouts/base.astro";

import { getAllSlides } from "@/lib/slide";

import { CarouseComponent } from "@/components/shadcn/carousel";

export async function getStaticPaths() {
  const slides = await getAllSlides();

  return slides.map((slide) => ({
    params: {
      slug: slide.path,
    },
    props: {
      title: slide.title,
      pubDate: slide.pubDate,
      tags: slide.tags,
      path: slide.path,
      pages: slide.pages,
    },
  }));
}

const { title, pubDate, tags, path, pages } = Astro.props;
---

<Base pageTitle={title}>
    <div class="mx-auto text-center">
        <p class="text-lg text-muted-foreground">
            {pubDate}
        </p>
        <h1 class="scroll-m-20 text-2xl font-extrabold lg:text-4xl">
            {title}
        </h1>
        {
            tags.map((tag, index) => (
                <span
                    data-key={index}
                    class="mr-2 text-sky-400 hover:text-sky-700 text-lg"
                >
                    #{tag}
                </span>
            ))
        }
    </div>

    <div class="flex-1 border-b border-gray-500 mb-5"></div>

    <CarouseComponent path={path} pages={pages} client:load />
</Base>
